.listing {
  opacity: 50%;
  transition: transform 0.3s; /* Animation */
}

.listing:hover {
  background-color: aqua;
  opacity: 100%;
  transform: scale(1.05);
}

.texture {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.photo {
  left: 0px;
  border: 0em;
}

.btn {
  margin-left: 9em;
  text-align: center;
}
